.card{
    display: flex;
    flex-direction: column;
    width: 20vw;
    min-height: 35vh;
    background-color: #dadc9e;
    margin: 2vh;
    border-radius: 10px;
}

.card:hover .delete_btn{
    visibility: visible;
}

.card:hover .edit_btn{
    visibility: visible;
}


.header,.footer{
    display: flex;
    height: 4vh;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.header{
    border-radius:10px 10px 0 0;
}

.footer{
    border-radius:0 0 10px 10px;
}

.textarea{
    color: #393737;
    width: 90%;
    min-height:30vh;
    overflow-wrap: break-word;
    padding: 1vw;
}


.delete_btn,.edit_btn{
    visibility: hidden;
    background-color: transparent;
    font-size: 14px;
    border: 0;
    padding: 1%;
    margin-left: 1.5%;
    height: fit-content;
    width: fit-content;
    border-radius: 50px;
}

.edit_btn:hover{
    cursor: pointer;
    background-color: greenyellow;
}

.delete_btn:hover{
    cursor: pointer;
    background-color: #eca2a2;
}