.container {
    position: fixed;
    background-color: azure;
    display: inline-flex;
    width: 25vw;
    height: 100vh;
    flex-direction: column;
    align-items: stretch;
}

.heading{
    display: inline;
    text-align: center;
    height: fit-content;
    margin-bottom: 7vh;
}