.tile{
    width: 56vw;
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, rgba(108,255,87,1) 22%, rgba(235,166,191,1) 78%);
    margin: 2vh;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: stretch;
}

.content{
    color: #393737;
    box-sizing: border-box;
    overflow-wrap: break-word;
    padding: .5rem;
    width: 44vw;
    min-height: 8vh;
    border-left:.2vw solid #5cbe5a ;
    border-right:.2vw solid #ea82a8 ;
}

.check,.cross{
    min-height: 8vh;
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.check:hover,.cross:hover{
    background-color: #d9d9d9;
    cursor: pointer;
    opacity: 1;
}

.check{
    border-radius: 10px 0 0 10px;
}

.cross{
    border-radius: 0 10px 10px 0;
}
