.container{
    background-color: whitesmoke;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    margin-left: 25vw;
    width: 75vw;
    min-height: 100vh;
}

.topchild{
    display: flex;
    justify-content: center;
    width: 75vw;
    box-sizing: border-box;
    height: fit-content;
}

.bottomchild{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    box-sizing: border-box;
    padding: 1vh 2vw 0;
    width: 75vw;
    height: 100%;
}